<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'trade/base.css' %}">
        <title>{% block title%} {%endblock%}</title>
        {% block head %}{% endblock %}
    </head>
    <body>
        <nav>
            <div id="nav" class="btn-group" role="group" aria-label="Basic example">
                <a href="contacts.html">
                <button type="button" class="btn btn-outline-dark">Contacts</button>
                </a>
                <a href="categories.html">
                <button type="button" class="btn btn-outline-dark">Categories</button>
                </a>
                <a href="about.html">
                <button type="button" class="btn btn-outline-dark">About</button>
                </a>
            </div>
        </nav>

        <header>
            
        </header>
        <span id="tiny-img01">
            <img class="tiny-img" src="{% static 'trade/images/coffeecons.jpeg' %}">
        </span>     
            
        <span class="sen1">Aliyu Adam</span>
        <span class="sen2">Last updated Apr 7, 2017 </span>
        <hr></hr>

        <section id="mainbody">
            {%block body%}
            {%endblock%}
        </section>

        <footer class="product-footer text-white">
            <div id="imagebody">
                <marquee behavior="" direction="right"><img src="{% static 'trade/images/afeximage.webp'%}" alt=""></marquee>
            </div>
                <p>Our Mission is to build an inclusive and efficient market system for commodities in Africa. Our platform delivers the ultimate trading experience for both retail and institutional clients, enabling traders to focus on their strategies rather than their tools.</p>
                <div class="footer-line">
                    <p style="word-spacing: 100px;">Product Company Pages</p>
                </div>            

        
        3rd Part Integration
        Membership
        Company
        About
        Contact
        Blog
        Pages
        Terms and conditions
        Privacy Policy
        Sitemap
        11th Floor, Bank of Industry, Tower 2, House Plot 256, Zone A, Off Herbert Macaulay Way, Abuja
        07000CALLAFEX (+234 700 0225 52339)
        contactus@afexnigeria.com
        Contacts
            </div>    
        </footer>
     <!-- Option 1: Bootstrap Bundle with Popper -->
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    </body>    
</html>